  div {
  	width: 500px;
  	height: 500px;
    position: absolute;
	}
  
  div:first-child {
	  background-color: yellow;
  }
  
  div:nth-child(2){
	  background-color: blue;
	  left: 500px;
  }
  
  .vigilant {
	  width: 100px;
	  height:100px;
	  background-color: pink;
  }
  
    .supervisor {
	  width: 100px;
	  height:100px;
	  background-color: red;
  }