div {
    width: 500px;
    height: 500px;
    position: absolute;
}

.supermercat {
    border: 4px solid black;
    background-image: url("../img/supermercat.jpg");
    background-size: 500px 500px;
    background-repeat: no-repeat;
}

.magatzem {
    border: 4px solid black;
    border-left: 0px;
    left: 500px;
    background-image: url("../img/magatzem.png");
    background-size: 500px 500px;
    background-repeat: no-repeat;
}

.edifici {
    width: 1000px;
    margin-left: 100px;
}

.vigilant {
    width: 50px;
    height: 50px;
}

.supervisor {
    width: 50px;
    height: 50px;
    background-color: red;
}

.punt-supervisio {
    top: 250px;
    left: 700px;
    width: 100px;
    height: 100px;
    background-color: brown;
}

.punt-supervisio-actiu {
    background-color: lime;
}

.punt-vigilancia {
    top: 250px;
    left: 150px;
    width: 100px;
    height: 100px;
    background-color: #007fff;
}

.punt-vigilancia-actiu {
    background-color: darkblue;
}

.portaA {
    top: 100px;
    left: 70px;
    width: 75px;
    height: 75px;
    background-color: saddlebrown;
}

#departaments {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
    height: 300px;
}

#llistat-departaments {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

#llistat-departaments li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 17px;
    height: 16px;
}

.departament {
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
}

ul li:nth-child(-n+3) {
    background: red;
}

#accordion {
    position: absolute;
    top: 320px;
    right: 70px;
    width: 100px;
    height: 200px;
    border: solid 2px black;
}