  div {
  	width: 500px;
  	height: 500px;
    position: absolute;
	}
  
  .supermercat {
	  background-color: yellow;
  }
  
  .magatzem{
	  background-color: blue;
	  left: 500px;
  }
  
  .edifici {
	  width: 1000px;
  }
  
  .vigilant {
	  width: 100px;
	  height:100px;
	  background-color: pink;
  }
  
    .supervisor {
	  width: 100px;
	  height:100px;
	  background-color: red;
  }
  